html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1 {
    background-color: blue;
    color: white;
    text-align: center;
}

h2 {
    color: red;
}

h3 {
    color: orange;
}

.description {
    font-weight: bold;
}

img {
    height: auto;
    width: 200px;
}

#long-sub {
    height: auto;
    width: 500px;
}

.fonts {
    font-family: 'Times New Roman', Times, serif;
}